<plugin name='selenium-rc' version='1.0-SNAPSHOT' grailsVersion='1.2.0 &gt; *'>
  <author>Rob Fletcher</author>
  <authorEmail>rob@energizedwork.com</authorEmail>
  <title>Selenium RC Plugin</title>
  <description>\
Runs Selenium RC tests written in Groovy in the Grails functional test phase.
</description>
  <documentation>http://grails.org/SeleniumRc+Plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
      <resolver type='mavenCentral' />
    </resolvers>
    <dependency group='org.seleniumhq.selenium.client-drivers' name='selenium-java-client-driver' version='1.0.1' conf='build' transitive='true' />
    <dependency group='org.gmock' name='gmock' version='0.8.0' conf='test' transitive='true' />
  </dependencies>
  <behavior />
</plugin>