<plugin name='selenium-rc' version='0.1' grailsVersion='1.1 &gt; *'>
  <author>Rob Fletcher</author>
  <authorEmail>rob@energizedwork.com</authorEmail>
  <title>Selenium RC Plugin</title>
  <description>\
Runs Selenium RC tests written in Groovy in the Grails functional test phase.
</description>
  <documentation>http://grails.org/SeleniumRc+Plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>SeleniumConfigTemplate</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='mavenLocal' />
      <resolver type='mavenCentral' />
      <resolver type='mavenLocal' />
      <resolver type='mavenRepo' root='http://m2repo.spockframework.org/snapshots' name='http://m2repo.spockframework.org/snapshots' m2compatbile='true' />
      <resolver type='mavenRepo' root='http://m2repo.spockframework.org/releases' name='http://m2repo.spockframework.org/releases' m2compatbile='true' />
      <resolver type='mavenRepo' root='http://oss.sonatype.org/content/groups/jetty' name='http://oss.sonatype.org/content/groups/jetty' m2compatbile='true' />
    </resolvers>
    <dependency group='org.w3c.css' name='sac' version='1.3' conf='runtime' transitive='true' />
  </dependencies>
  <behavior />
</plugin>